node_modules
dist
out
.DS_Store
.eslintcache
*.log*
petrochamp-backend/prisma/dev.db
petrochamp-backend/dist/
build/electron/
release/
*.exe
*.AppImage
*.db-journal
*.db
petrochamp-admin-cloud/
petrochamp-backend/prisma/petrochamp.db
