node_modules
dist
out
.DS_Store
.eslintcache
*.log*
petrochamp-backend/prisma/dev.db
petrochamp-backend/dist/
build/electron/
release/
*.exe
*.AppImage
*.db-journal
*.db    
*.sql
petrochamp-admin-cloud/
petrochamp-backend/prisma/petrochamp.db

petrochamp-backend/uploads/

tsconfig.node.tsbuildinfo

*.bak-*
